@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #1b1616;
  border-radius: 20px;
}

/* -------------------------------SearchBar-------------------------- */

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.search-input {
  border: 2px solid #3498db; 
  border-radius: 25px 0 0 25px; 
  width: 200px; 
  outline: none; 
  transition: border-color 0.3s ease;
}

.search-input, .search-button {
  padding: 12px 20px;
  font-size: 16px;
  border: 2px solid #3498db;
  outline: none;
  transition: border-color 0.3s ease, background-color 0.3s ease; 
  height: 44px;
  
}

.search-input:focus {
  border-color: #3498db; 
}

.search-button {
  background-color: #3498db; 
  color: white;
  border: none;
  border-radius: 0 25px 25px 0; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.search-button:hover {
  background-color: #2980b9; 
}

/* ----------------------Real------------- */

.not-found {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 10px;
  flex-direction: column;
  width: 400px;
  height: 450px;
  color: rgb(255, 255, 255);
}

.not-found h3 {
  text-align: center;
}

.not-found h1 {
  text-align: center;
  color: #3498db;
}

.not-found span {
  font-size: 110px;
}

            /* ---------------------------data------------------ */

.data {
  width: 400px;
  height: 450px;
}  

.location-date {
  width: 100%;
  padding: 0px 50px;
  margin: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 15px;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.location span {
  font-size: 20px;
}

.temp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  font-size: 20px;
  color: white;
}

.location-date .img {
  width: 100px;
}

.humidity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.humidity-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
  font-size: 16px;
  color: white;
}

.img1 {
  font-size: 40px;
}